/* COLOR CONSTANTS

BACKGROUND COLOR: #F5F6F8
HEADER & BUTTON COLOR: #007BFF
CARD BACKGROUND COLOR: #FFFFFF
FIELD BACKGROUND COLOR: #F4F4F4
SECONDARY HEADER COLOR: #3D5170
FIELD TEXT COLOR: #9B9B9B

TWO FONTS USED: POPPINS FOR BIG HEADERS & LATO FOR EVERYTHING ELSE, Poppins is included as a part of Shards

https://fonts.google.com/specimen/Lato

*/

body {
  background-color: #f5f6f8;
}

label {
  margin-bottom: 0px;
}
ul, li {
  list-style: none;
  padding: 0;
}

ul {
  border-top: 1px solid rgb(231, 231, 231);
  list-style-type: none;
  background-color: #fff;
  padding: 0;
  overflow: hidden;



}
li {
  border-bottom: 1px solid rgb(231, 231, 231);
  border-right: 1px solid rgb(231, 231, 231);
  padding: 8px 16px;
  background-color: #fff;
  text-decoration: none;
}

.col-md-3{
  padding: 0px;
  margin-bottom: 15px;
}
.col-md-9{
  margin-left:5px;
}

.text-white {
  color: #fff;
}

.header-primary {
  color: #007bff;
  font-weight: 1000;
}


li:hover{
  background-color: rgb(167, 167, 167);
  color: white;
}

.catitem{
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgb(231, 231, 231);
  margin-bottom: 20px;
}

.shopping-cart{
  margin: 20px;
}

.head-title{
  /* margin: 15px; */
  border-bottom: 1px solid rgb(231, 231, 231);
}

.no-hover{
  pointer-events: none;
}

.topbar{
  border-bottom: 1px solid rgb(231, 231, 231);
  margin-bottom: 10px;
  height: 58px;
  background-color: #fff;

}