/* COLOR CONSTANTS

BACKGROUND COLOR: #F5F6F8
HEADER & BUTTON COLOR: #007BFF
CARD BACKGROUND COLOR: #FFFFFF
FIELD BACKGROUND COLOR: #F4F4F4
SECONDARY HEADER COLOR: #3D5170
FIELD TEXT COLOR: #9B9B9B

*/

body {
    background-color: #F5F6F8;
    margin:50px;
}

.header-primary{
    color: #007BFF;
    font-weight: 1000;
}